[defaults]
inventory = ansible/inventory/runtime-nodes.ini.example
roles_path = ansible/roles
stdout_callback = yaml
retry_files_enabled = False
host_key_checking = True
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
